<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">Thông tin liên hệ</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Liên hệ trực tiếp với chúng tôi để được báo giá tốt nhất.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Hữu Bằng - Thạch Thất - Hà Nội</p>
        <p><span class="glyphicon glyphicon-phone"></span> +09 88888 935 - 096 436138 - 091 436138</p>
        <p><span class="glyphicon glyphicon-envelope"></span> vuxuanchinh@gmail.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Tên" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Nội dung" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  