<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#myPage">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">Giới thiệu</a></li>
          <li><a href="#product">Sản phẩm</a></li> 
          <li><a href="#services">Dịch vụ</a></li>
          <li><a href="#pricing">Bảng giá</a></li>
          <li><a href="#contact">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="jumbotron text-center">
    <h1>Nội thất Châu Âu</h1> 
    <p>Hữu Bằng - Thạch Thất - Hà Nội</p> 
    <form>
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Subscribe</button>
        </div>
      </div>
    </form>
</div>
  